@model Vidly.ViewModels.MovieFormViewModel
@{
    ViewBag.Title = "MoviesForm";
}

<h2>MoviesForm</h2>


@using (Html.BeginForm("Save", "Movies"))
{
    @Html.ValidationSummary()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name")
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.GenreTypeId, "Genre")
        @Html.DropDownListFor(m => m.GenreTypeId, new SelectList(Model.Genres, "Id", "GenreName"), "Select Genre type", new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.NumberInStock, "Number of movies in stock")
        @Html.TextBoxFor(m => m.NumberInStock, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Submit</button>
}

